﻿@model IEnumerable<sandti_mvc.Models.JobsViewModel>

@foreach (var gr in Model)
{
<h3> @gr.JobTitle</h3>
    <table class="table table-borderd table-hover">
        <tr>
            <th>
                اسم الباحث
            </th>
            <th>
                نص الرسالة
            </th>
            <th>
                تاريخ الإرسال
            </th>
        </tr>
        @foreach (var item in gr.Items)
        {
        <tr>
            <td>
                @item.user.UserName
            </td>

            <td>
                @item.Message
            </td>
            <td>
                @item.ApplyDate.ToString("dd/MM/yyyy - dddd")
            </td>
        </tr>
        }
    </table>
}