﻿@model IEnumerable<sandti_mvc.Models.Category>
@{
    /**/

    ViewBag.Title = "الصفحة الرئيسية";
}

<div class="jumbotron alert alert-info">
    <h3>مرحباً بك عزيزي الزائر</h3>
    <p>مرحباً في عالم السندات والأوراق</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading"><h1>@Html.DisplayFor(m => item.CategoryName)</h1></div>
        <div class="row panel-body">
            <h5>@Html.DisplayFor(m => item.CategoryDescription)</h5>
            @foreach (var subItem in item.Jobs)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; min-height: 300px;">
                    <img style="height: 145px; width: 275px;" src="~/Uploads/@subItem.JobImage" />
                    <h3>@Html.DisplayFor(m => subItem.JobTitle)</h3>
                    <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(m => subItem.JobContent).ToString())) </h5>
                    @Html.ActionLink("التفاصيل", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-primary" })
                    @*<button class="btn btn-default">التفاصيل</button>*@
                </div>
            }
        </div>
    </div>

}

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@