﻿@font-face{
    font-family:myFont;
    src:url('font/GE_SS_Two_Bold.eot')
}
@font-face{
    font-family:myFont2;
    src:url('font/DroidKufi-Regular.ttf')
}
/*body*/
body{
    padding-top:100px;
    font-family: myFont2;
}

/*nav*/
.navbar-default {
    background-color: #0c5c82;
    border-color: #e7e7e7;
    font-family: myFont2;
}
    .navbar-default .navbar-nav > li > a {
        font-family: myFont2;
        color: #e7e7e7;
    }
        .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
        }
.nav li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
    font-family: myFont2;
}
.nav li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
    font-family: myFont2;
}
nav i{
    margin-left:5px;
}
/*-------------------------------------*/

/*footer*/
.myfooter {
    background-color: cornflowerblue;
    padding-top: 10px;
    font-family: myFont2 !important;
    text-align: justify;
}
.subfooter {
    background-color: #0c5c82;
    color: white;
    padding: 10px;
    font-family: myFont2;
    text-align: center;
}
.myfooter a{
    color:azure;
}
.myfooter p{
    color:azure;
}

.myfooter h3,ul,p{
    margin-bottom:20px;
    font-family:myFont2;
}
.myfooter i {
    margin-left: 5px;
}

/*logo*/
.logo-size{
    width:120px;
    height:44px;
    margin-top:-7px;
}
#searchName {
    width: 130px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    background-image: url('../images/magnify.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    color: black;
    padding: 12px 20px 12px 12px;
    /*margin-top: -15px;*/
    transition:width 0.4s ease-in-out;
}
    #searchName:focus {
        width:100%;
    }
    .img-size{
        font-size: 90px;
    }
.navbar-user{
    padding:10px;
    padding-bottom:0px;
    width:350px;
}

@media (min-width: 992px){
    .col-md-3{
        width: 23%;
    }
}
